.info-container{
    padding: 32px 0;
}
@media screen and (min-width: 768px) {
    .info-container{
        padding: 40px 32px;
    }
}
@media screen and (min-width: 1024px) {
    .info-container{
        padding: 80px 154px 80px 96px;
    }
}